/*Estilização geral do site*/
body {
  font-family: "Arial";
  margin: 0;
  padding: 0;
  border: 0;

}

/*Estilização do header da pagina*/
header {
  background-color: #702632;
}

/*Estilização do LOGOTIPO*/
.logo {
  width: 25%;
}

/*Estilização do MENU*/

.logo_caixa {
  width: 40%;
}


/*Titulos padrão*/
.titulos_padrao {
  text-align: center;
}

.titulo_site {
  color: black;
  border-bottom: 1px, solid 080705;
}

.area_site {
  background-color: #FFFFFA;
  padding: 40px;
}



table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin: auto;
  width: 80%;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

td {
  text-align: center;
}



caption {
  padding: 10px;
}

.info-qtde {
  background-color: #912f40;
}

.info-qtde {
  background-color: #912f40;
}

.input-padrao {
  padding: 10px 25px;
  width: 40%;
}

.adicionar {
  background-color: #702632;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  
}

.erro {
  color: #702632;
  margin-top: 5px;
  font-size: 14px;
}

.design {
 display: inline-block; 
 width: 40%;
 padding-left: 7%;
 padding-bottom: 1%;
}

#filtrar-tabela{
  width: 19.5%;
  height: 35px;
  margin-bottom: 10px;
}

.invisivel{
  display:none;
}

.cor_fundo {
  background-color: #FFFFFA;
}

.botoes {
  width: 20%;
  padding-left: 4%;
  padding-bottom: 1%;
}